.idea/
.gradle/
.git/
backupGradle/
gradle/
files/
projectFilesBackup/
build/
AppMedia/
keystore.properties
SofiaTraffic.iml
local.properties
app/*
!app/src/
!app/build.gradle
app/src/main/res/values/api_keys.xml
